body {
    background-color: #f1f1f1;
}

header {
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding: 20px;
    text-align: justify;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

article>p {
    text-align: justify;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 15px !important;
    margin-top: 3px !important;
}

footer {
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#go-to-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
}

#go-to-button:hover {
    background-color: #3e8e41;
}


/*add media query for screen height smaller than 745 px*/

@media screen and (max-height: 745px) {
    header {
        font-size: 1em;
    }
    main {
        font-size: 1em;
    }
    article>p {
        font-size: 1em;
    }
    h2 {
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }
}